n8n-workflows/Homework creator.json
{
  "name": "Homework creator",
  "nodes": [
    {
      "parameters": {
        "content": "## this workflow will create homeworks and refrence pages from the book as an assistance to students",
        "height": 80,
        "width": 640
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -624,
        112
      ],
      "id": "80f02a7f-e82e-47b1-b599-ba8ee15ae605",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "57d6e5d5-7094-47cd-bb61-0006b1160f32",
        "responseMode": "lastNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -560,
        272
      ],
      "id": "7723850d-51a4-45fd-aec3-0de37c6043ee",
      "name": "Webhook2",
      "webhookId": "57d6e5d5-7094-47cd-bb61-0006b1160f32"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "513b2d88-f9a1-4ab4-b8ba-b4374e506ecb",
              "leftValue": "={{ $json.name }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -112,
        272
      ],
      "id": "7b3d16a9-5d4a-45cd-9020-411c371dfd92",
      "name": "If"
    },
    {
      "parameters": {
        "resource": "folder",
        "name": "Teaching Preparations ",
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "mode": "list",
          "value": "root",
          "cachedResultName": "/ (Root folder)"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        112,
        336
      ],
      "id": "116193dc-23dd-4634-afa7-cb1997c380b9",
      "name": "Create folder",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "9G2O7oLVjrJSyDHG",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "resource": "fileFolder",
        "queryString": "Teaching Preparations",
        "returnAll": true,
        "filter": {},
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -336,
        272
      ],
      "id": "54b705ee-998b-4b19-b16a-16e4bef7bfcc",
      "name": "Search files and folders",
      "alwaysOutputData": true,
      "executeOnce": false,
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "9G2O7oLVjrJSyDHG",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "content": "## Homework creation agent testing",
        "height": 240,
        "width": 1744,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -624,
        192
      ],
      "id": "6395dca7-eb0c-4886-bc27-1bbd86cb4fcc",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "8a40e103-d3f7-43cc-ad1d-0253593f281d",
              "name": "name",
              "value": "={{ $json.name }}",
              "type": "string"
            },
            {
              "id": "1fb56bfe-0dc0-4d1d-860c-d20afa409795",
              "name": "id",
              "value": "={{ $json.id }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        560,
        272
      ],
      "id": "647103d3-d4ef-4542-9aa5-28e609906aed",
      "name": "Edit Fields1",
      "executeOnce": true
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        336,
        272
      ],
      "id": "5887226e-de2d-48d2-a1ec-465775df2482",
      "name": "Merge"
    },
    {
      "parameters": {
        "modelName": "Omartificial-Intelligence-Space/Arabic-Triplet-Matryoshka-V2",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsHuggingFaceInference",
      "typeVersion": 1,
      "position": [
        704,
        1536
      ],
      "id": "fd633f93-f946-401c-a1ad-7d253edac214",
      "name": "Embeddings HuggingFace Inference10",
      "credentials": {
        "huggingFaceApi": {
          "id": "7BN0fyv0oDunRzEU",
          "name": "HuggingFaceApi account"
        }
      }
    },
    {
      "parameters": {
        "topN": 5
      },
      "type": "@n8n/n8n-nodes-langchain.rerankerCohere",
      "typeVersion": 1,
      "position": [
        848,
        1536
      ],
      "id": "565f0058-62f0-4547-bb73-28b971df4b5f",
      "name": "Reranker Cohere5",
      "credentials": {
        "cohereApi": {
          "id": "lGlTjBD139A2c2yP",
          "name": "CohereApi account"
        }
      }
    },
    {
      "parameters": {
        "model": "openai/gpt-oss-20b",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        64,
        880
      ],
      "id": "1b8e0bf7-61b5-4c43-83e7-e7b8c14a8d57",
      "name": "Groq Chat Model5",
      "credentials": {
        "groqApi": {
          "id": "b1znR7cwm2555jWA",
          "name": "Groq account 2"
        }
      }
    },
    {
      "parameters": {
        "model": "openai/gpt-oss-120b",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        784,
        496
      ],
      "id": "0c281c30-6336-4947-b9c7-80e9db3a16e2",
      "name": "Groq Chat Model3",
      "credentials": {
        "groqApi": {
          "id": "b1znR7cwm2555jWA",
          "name": "Groq account 2"
        }
      }
    },
    {
      "parameters": {
        "model": "openai/gpt-oss-120b",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        784,
        784
      ],
      "id": "cec54eda-3365-4929-85c2-ca9bbeab1a97",
      "name": "Groq Chat Model",
      "credentials": {
        "groqApi": {
          "id": "b1znR7cwm2555jWA",
          "name": "Groq account 2"
        }
      }
    },
    {
      "parameters": {
        "model": "openai/gpt-oss-120b",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        1616,
        896
      ],
      "id": "27eef6d8-180a-4a81-9d36-027a2adf540f",
      "name": "Groq Chat Model6",
      "credentials": {
        "groqApi": {
          "id": "b1znR7cwm2555jWA",
          "name": "Groq account 2"
        }
      }
    },
    {
      "parameters": {
        "text": "={{ $fromAI('MCQs_instructions','count = \"عدد ونوع السؤال\" , topic = \"موضوع الامتحان\" ,document_id = \"ID\"') }}",
        "needsFallback": true,
        "options": {
          "systemMessage": "=# Main Task\nCreate multiple-choice (MCQs) or True/False questions **exclusively based on content retrieved from the database**.\n\n## 1. Receive User Input\n- Number of questions required (e.g., 10)  \n- Question type: MCQs or True/False  \n- Topic/description of homework (e.g., \"Chapter 2 from the Biology book\")  \n\n## 2. Search Database\n- Use `books_content` tool to retrieve relevant material  \n- Use the user-provided topic/description as search input  \n- Ensure sufficient content is retrieved to create all questions  \n\n## 3. Generate Questions\n- **MCQs:**  \n  - Question text  \n  - 4 options (A, B, C, D)  \n  - Only one correct answer  \n\n- **True/False:**  \n  - Clear statement  \n  - Answer: True or False  \n\n## 4. Mandatory Rules\n- **Do not:**  \n  - Add any information from outside the database  \n  - Create questions not based on retrieved content  \n  - Guess or reformulate absent information  \n\n- **Must:**  \n  - All outputs in Arabic only  \n  - Number of questions matches user request  \n\n## 5. Create Two Versions (Mandatory)\n- Version 1: Questions **with correct answers** → save in correction_document_id   \n- Version 2: Questions **without correct answers** → save in document_id\n\ncreate_document(\n  content = \"[full set of questions with answers]\",\n  ID = \"correction_document_id\"\n)\n\ncreate_document(\n  content = \"[full set of questions without answers]\",\n  ID = \"document_id\"\n)\nContent Format in Documents\nNumber of questions: [count]\nQuestion type: [MCQs / True/False]\n\nQuestions:\n\n[Question text]\nأ) ...\nب) ...\nج) ...\nد) ...\n(Answer: ...) → only in the corrected version \n\n…\n\nImportant Notes\nDo not output questions in chat; place them only in the documents\n\nMention the page each question is retrieved from\n\nDocuments are the only final outputs"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agentTool",
      "typeVersion": 2.2,
      "position": [
        64,
        640
      ],
      "id": "1d1f4c95-17e8-4773-b196-8ec29d88e8f6",
      "name": "MCQs/TF agent"
    },
    {
      "parameters": {
        "text": "={{ $fromAI('written_instructions','count = \"عدد ونوع السؤال\" , topic = \"موضوع الامتحان\" ,document_id = \"ID\"') }}",
        "needsFallback": true,
        "options": {
          "systemMessage": "=## **Main Task**\nCreate essay/long-answer questions **exclusively based on content retrieved from `books_content`**, then place all questions into Google Docs using `create_document`. Two versions must be created:  \n- Version 1: With answers → save in `correction_document_id`  \n- Version 2: Without answers → save in `document_id`  \n\n---\n\n## **1) Receive Input**\n- **count**: Number of questions required  \n- **topic**: Exam topic or description  \n- **document_id**: Google Doc ID for version without answers  \n- **correction_document_id**: Google Doc ID for version with answers  \n\n---\n\n## **2) Search Database**\n- Use `books_content` with **topic**  \n- Retrieve sufficient content to formulate analytical/essay questions  \n- If data is insufficient → apologize and stop  \n\n---\n\n## **3) Generate Questions**\n**Essay question requirements:**  \n- Rely exclusively on retrieved content  \n- Require long or analytical answers  \n- Clear and direct wording  \n- No external information  \n\n**Example phrasing:**  \n- \"اشرح...\"  \n- \"حلل العلاقة بين...\"  \n- \"ناقش أهمية...\"  \n\n**Version 1 (correction_document_id):** include suggested answers  \n**Version 2 (document_id):** omit answers  \n\n---\n\n## **4) Create Documents (Mandatory)**\nUse:\n\ncreate_document(\n  content = \"[full set of questions with answers]\",\n  ID = \"correction_document_id\"\n)\n\ncreate_document(\n  content = \"[full set of questions without answers]\",\n  ID = \"document_id\"\n)\nDocument Content Format\nعدد الأسئلة: [count]\nنوع الأسئلة: كتابة / مقال\n\nQuestions:\n\n[Question text]\n(Answer: ...) → only in version 1\n\n…\n\nImportant Notes\nDo not output questions outside the documents\n\nMention the page each question is retrieved from\n\nDocuments are the only final outputs"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agentTool",
      "typeVersion": 2.2,
      "position": [
        784,
        640
      ],
      "id": "5bb69091-a584-4c78-9579-86c593ed3808",
      "name": "Writting/Essay agent"
    },
    {
      "parameters": {
        "text": "={{ $fromAI('calculations_instructions','count = \"عدد ونوع السؤال\", topic = \"موضوع الامتحان\" ,document_id = \"ID\"') }}",
        "needsFallback": true,
        "options": {
          "systemMessage": "=## **Main Task**\nYou are an agent responsible for creating **math/problem-solving questions**. Generate questions **exclusively based on content retrieved from `books_content`**, then save all questions into Google Docs using `create_document`. Two versions must be created:  \n- Version 1: With solutions → save in `correction_document_id`  \n- Version 2: Without solutions → save in `document_id`  \n\n---\n\n## **1) Receive Input**\n- **count**: Number of questions required  \n- **topic**: Exam topic or description  \n- **document_id**: Google Doc ID for version without solutions  \n- **correction_document_id**: Google Doc ID for version with solutions  \n\n---\n\n## **2) Search Database**\n- Use `books_content` with **topic**  \n- Retrieve relevant formulas, equations, numerical examples, and problem scenarios  \n- Ensure sufficient content is retrieved to create multi-step or complex problems  \n- If data is insufficient → apologize and stop  \n\n---\n\n## **3) Generate Questions**\n**Problem-solving question requirements:**  \n- Questions must rely exclusively on retrieved content  \n- Include numerical calculations or scenario-based problems  \n- At least **one long scenario/problem** must require the student to analyze multiple data points and apply more than one formula or logical step to solve  \n- Clear and direct wording  \n- No external information  \n\n**Example phrasing:**  \n- \"احسب...\"  \n- \"حل المشكلة التالية مع توضيح خطوات الحل...\"  \n- \"باستخدام المعطيات التالية، حدد قيمة...\"  \n\n**Version 1 (`correction_document_id`)**: include detailed solutions  \n**Version 2 (`document_id`)**: omit solutions  \n\n---\n\n## **4) Create Documents (Mandatory)**\nUse:\n\ncreate_document(\n  content = \"[full set of questions with solutions]\",\n  ID = \"correction_document_id\"\n)\n\ncreate_document(\n  content = \"[full set of questions without solutions]\",\n  ID = \"document_id\"\n)\nDocument Content Format\nعدد الأسئلة: [count]\nنوع الأسئلة: مسائل حسابية / حل مشكلات\n\nQuestions:\n\n[Question text]\n(Solution: ...) → only in version 1\n(Page: ...)\n\n…\n\nImportant Notes\nDo not output questions outside the documents\n\nAll numbers, formulas, and problem data must come only from books_content\n\nMention the page each question is retrieved from\n\nDocuments are the only final outputs"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agentTool",
      "typeVersion": 2.2,
      "position": [
        1616,
        640
      ],
      "id": "fc4125bc-e9ec-40f1-8641-41a5b6ac69cd",
      "name": "Calculations agent"
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "call this vectore store to retirive book data",
        "pineconeIndex": {
          "__rl": true,
          "value": "books",
          "mode": "list",
          "cachedResultName": "books"
        },
        "topK": 10,
        "useReranker": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        688,
        1328
      ],
      "id": "7f10a202-54d5-4c54-99c8-fc4204015344",
      "name": "books_content",
      "credentials": {
        "pineconeApi": {
          "id": "zsHMTXV1Oo8Y0PVK",
          "name": "PineconeApi account"
        }
      }
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "FHj3i5NGLrBhKUV5",
          "mode": "list",
          "cachedResultUrl": "/workflow/FHj3i5NGLrBhKUV5",
          "cachedResultName": "write on docs"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "content": "={{ $fromAI('content', 'the content of the homework', 'string') }}",
            "Doc_ID": "={{ $fromAI('Document_ID', 'The ID of the document passed by the parent agent', 'string') }}"
          },
          "matchingColumns": [
            "content"
          ],
          "schema": [
            {
              "id": "Doc_ID",
              "displayName": "Doc_ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "content",
              "displayName": "content",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        1104,
        1328
      ],
      "id": "6e69d84e-30ea-42fc-a581-6f72e5fc8439",
      "name": "create document"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('Webhook2').item.json.body.message }}",
        "options": {
          "systemMessage": "=## **Role**\nYou are a routing agent whose task is to analyze user inputs and determine how to distribute the request among three specialized agents (tools). You must pass only the number of questions and the topic to each agent according to the defined rules.  \nAll final outputs, agent calls, and interactions must always be in **Arabic only**.\n\n---\n\n## **Available Agents (Tools)**\n\n### **1. Google Docs Creation**\n- Create two homework documents.\n- Must **always be called first**.\n- Must **always Create two documents one with the correct answers and one without it**.\n- After creation, save:  \n  - `document_id` (main exam)  \n  - `corrected_document_id` (teacher corrected file)\n- You must pass **both IDs** to all other agents.\n\n---\n\n### **2. MCQs/TF Agent**\nUsed for:\n- MCQ questions  \n- True/False questions  \n\nMust receive:\n- `(number of questions, topic)`\n- `document_id`\n- `correction_document_id`\n\n---\n\n### **3. Writing/Essay Agent**\nUsed for:\n- Essay questions  \n- Writing prompts  \n\nMust receive:\n- `(number of questions, topic)`\n- `document_id`\n- `correction_document_id`\n\n---\n\n### **4. Calculations Agent**\nUsed for:\n- Calculation questions  \n- Problem-solving questions  \n\nMust receive:\n- `(number of questions, topic)`\n- `document_id`\n- `correction_document_id`\n\n---\n\n## **Required User Inputs**\n- Type of questions (optional)  \n- Number of questions (optional)  \n- **Topic of the exam (mandatory)**\n\nIf the user does **not** provide the topic:  \n→ **Ask for it immediately before calling any agent.**\n\n---\n\n## **Rules for Distributing Questions**\n\n### **1) Explicit Structure Provided**\nIf the user gives specific numbers such as:\n- 4 MCQs  \n- 2 Essays  \n- 3 Calculations  \n\n→ Follow exactly and call agents accordingly.\n\n---\n\n### **2) User Provides Only the Topic**\nDefault distribution:\n- 5 MCQs/TF  \n- 3 Essay  \n- 2 Calculations  \n\n---\n\n### **3) User Provides Total Number Only**\nUse ratio distribution:\n\n| Category     | Ratio | Formula           |\n|--------------|-------|-------------------|\n| MCQs/TF      | 3/6   | total × 3 ÷ 6     |\n| Essay        | 2/6   | total × 2 ÷ 6     |\n| Calculations | 1/6   | total × 1 ÷ 6     |\n\nRound fractions to nearest while keeping the total correct.\n\n---\n### **Google Docs Creation**\nname the document the topic name + homework\nGoogle Docs Creation(**call it twice for the regular and corrected version**)\n→ returns:\ndocument_id = \"….\",\n---\n---\n\n## **Agent Call Format (VERY IMPORTANT)**\n\nAll calls must be in **Arabic only**, and tools must be triggered **one at a time**, only after the previous one finishes.\n\n---\n\n### **MCQs/TF Agent Call**\nMCQs/TF agent(\ncount = \"عدد ونوع الأسئلة\",\ntopic = \"موضوع الامتحان\",\ndocument_id = \"ID\",\ncorrection_document_id = \"ID\"\n)\n\n---\n\n### **Writing/Essay Agent Call**\nWriting/Essay agent(\ncount = \"عدد الأسئلة\",\ntopic = \"موضوع الامتحان\",\ndocument_id = \"ID\",\ncorrection_document_id = \"ID\"\n)\n\n---\n\n### **Calculations Agent Call**\nCalculations agent(\ncount = \"عدد الأسئلة\",\ntopic = \"موضوع الامتحان\",\ndocument_id = \"ID\",\ncorrection_document_id = \"ID\"\n)\n\n---\n\n## **Language Requirement**\nAll messages, outputs, and agent calls must always be **in Arabic only**.\n\n---\n\n## **Additional Requirement**\nYou must:\n1. Create the main exam document (`document_id`)\n2. Create the correction document (`correction_document_id`)\n3. Pass **both IDs** to every agent you call.\n\n---\n\n## **End of Prompt**"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        784,
        272
      ],
      "id": "20caff01-fb62-4e1c-90cd-0b4cad921e74",
      "name": "Homework routing",
      "retryOnFail": true
    },
    {
      "parameters": {
        "model": "qwen/qwen3-32b",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        1664,
        1024
      ],
      "id": "c7cfd6b5-06d1-4992-9641-583e9ad17356",
      "name": "Groq Chat Model4",
      "credentials": {
        "groqApi": {
          "id": "b1znR7cwm2555jWA",
          "name": "Groq account 2"
        }
      }
    },
    {
      "parameters": {
        "folderId": "={{ $json.id }}",
        "title": "={{ $fromAI(\"document_title\",\"The title of the document which holds the home work\") }}"
      },
      "type": "n8n-nodes-base.googleDocsTool",
      "typeVersion": 2,
      "position": [
        1040,
        496
      ],
      "id": "6cf51792-f9da-4a78-95d5-3545f4c65db3",
      "name": "Create a document in Google Docs",
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "005akHUAlnsWV0c2",
          "name": "Google Docs account"
        }
      }
    },
    {
      "parameters": {
        "model": "qwen/qwen3-32b",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        112,
        1008
      ],
      "id": "9e89a138-7a05-4fd7-96cb-80f8b045fc06",
      "name": "Groq Chat Model7",
      "credentials": {
        "groqApi": {
          "id": "b1znR7cwm2555jWA",
          "name": "Groq account 2"
        }
      }
    },
    {
      "parameters": {
        "model": "qwen/qwen3-32b",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        832,
        896
      ],
      "id": "af2170b6-873b-4199-a6b4-867a643396c9",
      "name": "Groq Chat Model8",
      "credentials": {
        "groqApi": {
          "id": "b1znR7cwm2555jWA",
          "name": "Groq account 2"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook2": {
      "main": [
        [
          {
            "node": "Search files and folders",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Create folder",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create folder": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Search files and folders": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "Homework routing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings HuggingFace Inference10": {
      "ai_embedding": [
        [
          {
            "node": "books_content",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Reranker Cohere5": {
      "ai_reranker": [
        [
          {
            "node": "books_content",
            "type": "ai_reranker",
            "index": 0
          }
        ]
      ]
    },
    "Groq Chat Model5": {
      "ai_languageModel": [
        [
          {
            "node": "MCQs/TF agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Groq Chat Model3": {
      "ai_languageModel": [
        [
          {
            "node": "Homework routing",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Groq Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Writting/Essay agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Groq Chat Model6": {
      "ai_languageModel": [
        [
          {
            "node": "Calculations agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "MCQs/TF agent": {
      "ai_tool": [
        [
          {
            "node": "Homework routing",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Writting/Essay agent": {
      "ai_tool": [
        [
          {
            "node": "Homework routing",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Calculations agent": {
      "ai_tool": [
        [
          {
            "node": "Homework routing",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "books_content": {
      "ai_tool": [
        [
          {
            "node": "MCQs/TF agent",
            "type": "ai_tool",
            "index": 0
          },
          {
            "node": "Writting/Essay agent",
            "type": "ai_tool",
            "index": 0
          },
          {
            "node": "Calculations agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "create document": {
      "ai_tool": [
        [
          {
            "node": "MCQs/TF agent",
            "type": "ai_tool",
            "index": 0
          },
          {
            "node": "Writting/Essay agent",
            "type": "ai_tool",
            "index": 0
          },
          {
            "node": "Calculations agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Groq Chat Model4": {
      "ai_languageModel": [
        [
          {
            "node": "Calculations agent",
            "type": "ai_languageModel",
            "index": 1
          }
        ]
      ]
    },
    "Create a document in Google Docs": {
      "ai_tool": [
        [
          {
            "node": "Homework routing",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Groq Chat Model7": {
      "ai_languageModel": [
        [
          {
            "node": "MCQs/TF agent",
            "type": "ai_languageModel",
            "index": 1
          }
        ]
      ]
    },
    "Groq Chat Model8": {
      "ai_languageModel": [
        [
          {
            "node": "Writting/Essay agent",
            "type": "ai_languageModel",
            "index": 1
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "e4b498e3-2fa9-4105-bfc8-b72ae0f9c81b",
  "meta": {
    "instanceId": "1cf2b5bf4318a23a63d29974a6dba88a1ee4ca1760f440473397926025aaad84"
  },
  "id": "oTwQOApDBwzAdA3N",
  "tags": []
}