n8n-workflows/Homework corrector & feedback.json
{
  "name": "Homework corrector & feedback",
  "nodes": [
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "513b2d88-f9a1-4ab4-b8ba-b4374e506ecb",
              "leftValue": "={{ $json.name }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        240,
        368
      ],
      "id": "83cdc152-168d-4719-b687-94b0492b428d",
      "name": "If1"
    },
    {
      "parameters": {
        "resource": "folder",
        "name": "Teaching Preparations ",
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "mode": "list",
          "value": "root",
          "cachedResultName": "/ (Root folder)"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        464,
        464
      ],
      "id": "de910f02-465d-4f13-85c8-acbcf581f863",
      "name": "Create folder1",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "9G2O7oLVjrJSyDHG",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "resource": "fileFolder",
        "queryString": "Teaching Preparations",
        "returnAll": true,
        "filter": {},
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        16,
        368
      ],
      "id": "d24a8869-d509-42cc-a63b-1ce1fdb7e5b6",
      "name": "Search files and folders1",
      "alwaysOutputData": true,
      "executeOnce": true,
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "9G2O7oLVjrJSyDHG",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "content": "## Homework file insertion testing",
        "height": 1056,
        "width": 2720,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -1024,
        -80
      ],
      "id": "c6a52ad9-78e1-4b88-a526-f059b0706a93",
      "name": "Sticky Note1"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        688,
        368
      ],
      "id": "46446253-9be3-4714-a6aa-56eb2b761a5a",
      "name": "Merge1",
      "executeOnce": true
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "eBLOhYU49Qsrx8l3",
          "mode": "list",
          "cachedResultUrl": "/workflow/eBLOhYU49Qsrx8l3",
          "cachedResultName": "homework upload"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {}
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        16,
        176
      ],
      "id": "2fd016c1-f7bc-4f2e-af9c-9324b25c572b",
      "name": "Call 'homework upload'"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "57d6e5d5-7094-47cd-bb61-0006b1160f32",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -688,
        288
      ],
      "id": "0ddd7629-8ad8-4a4b-906d-ebd7ed60ed6d",
      "name": "Webhook4",
      "webhookId": "57d6e5d5-7094-47cd-bb61-0006b1160f32"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "xAXtonc9cuWoWkUA",
          "mode": "list",
          "cachedResultUrl": "/workflow/xAXtonc9cuWoWkUA",
          "cachedResultName": "Q&A"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "folder name": "={{ $json.name }}",
            "folder ID": "={{ $json.id }}",
            "homework ID": "={{ $('Webhook4').item.json.body.homework_id }}",
            "file name": "={{ $('Webhook4').item.json.body.file_name }}",
            "user prompt": "={{ $('Webhook4').item.json.body.userPrompt }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "folder name",
              "displayName": "folder name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "folder ID",
              "displayName": "folder ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "homework ID",
              "displayName": "homework ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "user prompt",
              "displayName": "user prompt",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "file name",
              "displayName": "file name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        1008,
        368
      ],
      "id": "bea0e7e6-80f4-4f10-8778-d668d9010a85",
      "name": "Call 'Q&A'1"
    },
    {
      "parameters": {
        "content": "## this workflow corrects homeworks in batches refrencing pages and give a simple comment on student's performance",
        "height": 80,
        "width": 640
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -1024,
        -160
      ],
      "id": "6dc8aea7-a6f2-40d6-9f84-6ec4d7de2261",
      "name": "Sticky Note7"
    },
    {
      "parameters": {
        "content": "## Student performance analyzer",
        "height": 848,
        "width": 1232,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1200,
        304
      ],
      "id": "549b784b-cab9-4ee3-8e62-cc109ea44c70",
      "name": "Sticky Note9"
    },
    {
      "parameters": {
        "model": "openai/gpt-oss-120b",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        1472,
        592
      ],
      "id": "74e6a427-9b35-4771-97fa-12758259452c",
      "name": "Groq Chat Model13",
      "credentials": {
        "groqApi": {
          "id": "b1znR7cwm2555jWA",
          "name": "Groq account 2"
        }
      }
    },
    {
      "parameters": {
        "modelName": "Omartificial-Intelligence-Space/Arabic-Triplet-Matryoshka-V2",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsHuggingFaceInference",
      "typeVersion": 1,
      "position": [
        1680,
        800
      ],
      "id": "c35d11a9-ca85-435e-97d2-6cd38eb240b9",
      "name": "Embeddings HuggingFace Inference1",
      "credentials": {
        "huggingFaceApi": {
          "id": "7BN0fyv0oDunRzEU",
          "name": "HuggingFaceApi account"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "If the user uploaded files it will be in this database",
        "pineconeIndex": {
          "__rl": true,
          "value": "homeworks",
          "mode": "list",
          "cachedResultName": "homeworks"
        },
        "topK": 5,
        "options": {
          "metadata": {
            "metadataValues": [
              {
                "name": "homework_id",
                "value": "={{ $json.body.files[0].homework_id }}"
              }
            ]
          }
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        1600,
        592
      ],
      "id": "4939b173-86f6-4ef4-a924-55cee21a3edb",
      "name": "homework files4",
      "credentials": {
        "pineconeApi": {
          "id": "zsHMTXV1Oo8Y0PVK",
          "name": "PineconeApi account"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "model": "openai/gpt-oss-120b",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        1808,
        800
      ],
      "id": "12e66970-2105-46c5-9256-6dc1a2b91deb",
      "name": "Groq Chat Model19",
      "credentials": {
        "groqApi": {
          "id": "b1znR7cwm2555jWA",
          "name": "Groq account 2"
        }
      }
    },
    {
      "parameters": {
        "modelName": "Omartificial-Intelligence-Space/Arabic-Triplet-Matryoshka-V2",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsHuggingFaceInference",
      "typeVersion": 1,
      "position": [
        1952,
        1008
      ],
      "id": "d40f5727-3bee-45a5-ad9d-35085c2b9c9e",
      "name": "Embeddings HuggingFace Inference13",
      "credentials": {
        "huggingFaceApi": {
          "id": "7BN0fyv0oDunRzEU",
          "name": "HuggingFaceApi account"
        }
      }
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "call this vectore store to retirive book data",
        "pineconeIndex": {
          "__rl": true,
          "value": "books",
          "mode": "list",
          "cachedResultName": "books"
        },
        "topK": 30,
        "useReranker": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        1936,
        800
      ],
      "id": "151a04ae-af08-4d4a-8c7e-9c89f952feb6",
      "name": "books4",
      "credentials": {
        "pineconeApi": {
          "id": "zsHMTXV1Oo8Y0PVK",
          "name": "PineconeApi account"
        }
      }
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n\"reference_chunks\": [\n{\"q\": \"<question A>\",\"chunks\": []},\n{\"q\": \"<question B>\",\"chunks\": []}\n\n]}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        2224,
        800
      ],
      "id": "531b8292-a227-443c-a961-4159c2574c6b",
      "name": "Structured Output Parser7"
    },
    {
      "parameters": {
        "topN": 10
      },
      "type": "@n8n/n8n-nodes-langchain.rerankerCohere",
      "typeVersion": 1,
      "position": [
        2080,
        1008
      ],
      "id": "c63f826e-cbaf-47e8-bd22-17a76a9a890c",
      "name": "Reranker Cohere6",
      "credentials": {
        "cohereApi": {
          "id": "lGlTjBD139A2c2yP",
          "name": "CohereApi account"
        }
      }
    },
    {
      "parameters": {
        "toolDescription": "Book Retrieval Agent (BRA)",
        "text": "={{ $fromAI('list_of_questions', 'provide all the questions in one list to retrive it from the data base', 'string') }}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "=You are the Book Retrieval Agent.\n\nYour job:\n1. batch all questions into a single vector store call:\nInstead of 10 queries for 10 questions:\n\nSend:\n\n[\n  \"Q1\",\n  \"Q2\",\n  \"Q3\",\n  ...\n]\n\n2. For each question or concept extracted from the homework, generate a clean search query.\n3. Query the **books** vector store.\n4. Return only the retrieved book chunks."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agentTool",
      "typeVersion": 2.2,
      "position": [
        1936,
        592
      ],
      "id": "0e18621c-6f44-43f1-b43e-796c53dc4b20",
      "name": "Book Retrieval Agent (BRA)4"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=user input: {{ $('Webhook4').item.json.body.userPrompt }}\ncorrection agent ouptut: {{ $json.output }}\nfile name: {{ $('Webhook4').item.json.body.file_name }}",
        "options": {
          "systemMessage": "=# You are an academic assistant specialized in providing detailed homework feedback for students.\n\n## Core Work Rules\n\n### Information Sources\n- All feedback must rely exclusively on content retrieved through the \"Book Retrieval Agent (BRA)\" tool\n- No external knowledge may be used under any circumstances\n\n### Homework Reading\n- Homework content will be provided by as an input from the correction agent\n\n### Progress Calculation\n- Use the calculator tool to compute the student's performance score accurately\n\n## Feedback Requirements\n\n### Mandatory Page Citation\n- Every explanation, or guidance must cite the exact page number from the book\n- Any information without a page reference is prohibited\n\n### Strict Reliance on Book Content\n- All feedback and explanations must come solely from the retrieved book pages\n- Focus on helping students understand concepts.\n\n## Additional Guidelines\n\n- Priority is given to helping students learn and understand.\n- You must not infer, add, or deduce any information not explicitly present in the book.\n- When calling the \"Book Retrieval Agent (BRA)\", pass all the questions in one list, never send a singular question.\n- Questions might not be explicitly present in the book; use your understanding of the book content to provide feedback.\n- Maintain an encouraging, constructive tone that motivates student improvement.\n- Avoid opinions, personal interpretations, or external examples.\n- always comment and answer in **Arabic**\n\n## Workflow\n\n1. Read the homework provided by the correction agent.\n2. Extract all questions and answers from the homework.\n3. When calling the Book Retrieval Agent (BRA), **Always pass all the questions in one string**, do not pass a singular question.4. Analyze student responses against book content.\n5. Calculate performance score using the calculator tool.\n7. only output your comments without the questions.\n\n## Expected output\n1. comment: the comments you generated.\n2. score: the total score the student achived.\n3. max_score: the max score that could be achived from the questions.\n4. percentage: the percentage calculated from the score and max score.\n\n- These outputs are crucial and need to be present in the final output, with the same naming"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        1776,
        368
      ],
      "id": "a5c94a03-00c3-4121-8156-0ae3945e880d",
      "name": "Homework feedback agent1",
      "retryOnFail": true
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.toolCalculator",
      "typeVersion": 1,
      "position": [
        2224,
        592
      ],
      "id": "44b9847d-857b-44a7-a919-78eda825e66c",
      "name": "calculator3"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        3536,
        368
      ],
      "id": "69e46b50-463b-446d-b2c4-39e356550913",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=comment agent output: {{ $json.output }}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "=Role:\nYou are an Output Parser Agent. Your task is to take structured or unstructured evaluation data and convert it into a strict JSON object matching the schema below.\nYou must only output JSON.\nNo explanations, no commentary, no extra text.\n\nCritical Rules\n\nYou will always be provided with all required information.\nYou do not guess, infer, estimate, or compute missing data.\n\nIf ANY required information is missing, you must return the following exact JSON:\n\n{}\n\n\nIf ALL required fields are present, return them in the following final structure:\n\n{\n  \"percentage\": 87,\n  \"score\": 17,\n  \"max_score\": 20,\n  \"comment\": \"Good understanding of the topic. Work on structure and citations.\"\n}\n\nuse the ouput parser to parse the informations provided."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        2720,
        368
      ],
      "id": "8e23c205-8a1a-4174-946d-f4aaa96bad6d",
      "name": "Output parser agent"
    },
    {
      "parameters": {
        "model": "openai/gpt-oss-120b",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        2624,
        576
      ],
      "id": "e089923d-b36a-4dc6-b134-6a3b950bf1fb",
      "name": "Groq Chat Model20",
      "credentials": {
        "groqApi": {
          "id": "b1znR7cwm2555jWA",
          "name": "Groq account 2"
        }
      }
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n  \"percentage\": 87,\n  \"score\": 17,\n  \"max_score\": 20,\n  \"comment\": \"Good understanding of the topic. Work on structure and citations.\"\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        2944,
        576
      ],
      "id": "abe784bf-0005-47a0-ab33-aca65e32b772",
      "name": "Structured Output Parser8"
    },
    {
      "parameters": {
        "content": "## Output parsing agent",
        "height": 848,
        "width": 896,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        2432,
        304
      ],
      "id": "23eca30e-4e27-4fd3-bd5d-67844212b902",
      "name": "Sticky Note"
    }
  ],
  "pinData": {},
  "connections": {
    "If1": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Create folder1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create folder1": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Search files and folders1": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge1": {
      "main": [
        [
          {
            "node": "Call 'Q&A'1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook4": {
      "main": [
        [
          {
            "node": "Search files and folders1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Call 'homework upload'",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call 'Q&A'1": {
      "main": [
        [
          {
            "node": "Homework feedback agent1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Groq Chat Model13": {
      "ai_languageModel": [
        [
          {
            "node": "Homework feedback agent1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings HuggingFace Inference1": {
      "ai_embedding": [
        [
          {
            "node": "homework files4",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "homework files4": {
      "ai_tool": [
        [
          {
            "node": "Homework feedback agent1",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Groq Chat Model19": {
      "ai_languageModel": [
        [
          {
            "node": "Book Retrieval Agent (BRA)4",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings HuggingFace Inference13": {
      "ai_embedding": [
        [
          {
            "node": "books4",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "books4": {
      "ai_tool": [
        [
          {
            "node": "Book Retrieval Agent (BRA)4",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser7": {
      "ai_outputParser": [
        [
          {
            "node": "Book Retrieval Agent (BRA)4",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Reranker Cohere6": {
      "ai_reranker": [
        [
          {
            "node": "books4",
            "type": "ai_reranker",
            "index": 0
          }
        ]
      ]
    },
    "Book Retrieval Agent (BRA)4": {
      "ai_tool": [
        [
          {
            "node": "Homework feedback agent1",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Homework feedback agent1": {
      "main": [
        [
          {
            "node": "Output parser agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "calculator3": {
      "ai_tool": [
        [
          {
            "node": "Homework feedback agent1",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Output parser agent": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Groq Chat Model20": {
      "ai_languageModel": [
        [
          {
            "node": "Output parser agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser8": {
      "ai_outputParser": [
        [
          {
            "node": "Output parser agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "fb1d7305-4eb2-48c2-9fa9-004a87edc877",
  "meta": {
    "instanceId": "1cf2b5bf4318a23a63d29974a6dba88a1ee4ca1760f440473397926025aaad84"
  },
  "id": "uuuX8d1qc6JgZZzF",
  "tags": []
}