n8n-workflows/Q&A.json
{
  "name": "Q&A",
  "nodes": [
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "folder name"
            },
            {
              "name": "folder ID"
            },
            {
              "name": "homework ID"
            },
            {
              "name": "user prompt"
            },
            {
              "name": "file name"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -624,
        -16
      ],
      "id": "ac5660e2-0bb6-47cb-8a36-a62c79090194",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "5e6697ff-3ac7-4430-adf8-6bf5fb2cce84",
        "responseMode": "lastNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -992,
        432
      ],
      "id": "f2874c52-d0ba-49b0-a616-717c8735c694",
      "name": "Webhook",
      "webhookId": "5e6697ff-3ac7-4430-adf8-6bf5fb2cce84",
      "disabled": true
    },
    {
      "parameters": {
        "model": "openai/gpt-oss-120b",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        -176,
        208
      ],
      "id": "26976407-04dc-44a6-ada0-b0192437d271",
      "name": "Groq Chat Model13",
      "credentials": {
        "groqApi": {
          "id": "Hgi5rA0WfgSdQy6Y",
          "name": "Groq account"
        }
      }
    },
    {
      "parameters": {
        "modelName": "Omartificial-Intelligence-Space/Arabic-Triplet-Matryoshka-V2",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsHuggingFaceInference",
      "typeVersion": 1,
      "position": [
        160,
        416
      ],
      "id": "adba837c-a79b-48a2-b36a-2706061bbb7d",
      "name": "Embeddings HuggingFace Inference",
      "credentials": {
        "huggingFaceApi": {
          "id": "7BN0fyv0oDunRzEU",
          "name": "HuggingFaceApi account"
        }
      }
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "If the user uploaded files it will be in this database",
        "pineconeIndex": {
          "__rl": true,
          "value": "homeworks",
          "mode": "list",
          "cachedResultName": "homeworks"
        },
        "topK": 5,
        "options": {
          "metadata": {
            "metadataValues": [
              {
                "name": "homework_id",
                "value": "={{ $('When Executed by Another Workflow').item.json['homework ID'] }}"
              }
            ]
          }
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        80,
        208
      ],
      "id": "620923f1-e339-44e9-b0a4-e257ad707f83",
      "name": "homework files3",
      "credentials": {
        "pineconeApi": {
          "id": "zsHMTXV1Oo8Y0PVK",
          "name": "PineconeApi account"
        }
      }
    },
    {
      "parameters": {
        "description": "create homework correction",
        "workflowId": {
          "__rl": true,
          "value": "OckYAeqgCz0FhWhw",
          "mode": "list",
          "cachedResultUrl": "/workflow/OckYAeqgCz0FhWhw",
          "cachedResultName": "Convert Markdown content to Google Docs document with automatic formatting"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "title": "={{ $fromAI('title','the title of the document to be created') }}",
            "content": "={{ $fromAI('content','the content of the document to be created') }}",
            "folder name": "={{ $json.id }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "title",
              "displayName": "title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "content",
              "displayName": "content",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "folder name",
              "displayName": "folder name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        368,
        208
      ],
      "id": "3951191f-6ecc-4dc1-b56e-07088b763611",
      "name": "create homework correction2"
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.toolCalculator",
      "typeVersion": 1,
      "position": [
        496,
        208
      ],
      "id": "4c151ca2-fff3-4393-a5da-e35fc50ef85c",
      "name": "calculator2"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=user prompt: {{ $('When Executed by Another Workflow').item.json['user prompt'] }}\nfile name: {{ $('When Executed by Another Workflow').item.json['file name'] }}",
        "needsFallback": true,
        "options": {
          "systemMessage": "=# **You are an academic assistant specialized in grading student homework for teachers.**\n\n## **You must follow ALL the rules below strictly, literally, and without exception.  \n## Any deviation from these rules is prohibited.**\n\n---\n\n## **1. Core Work Rules**\n\n### **Information Sources**\n- All grading must rely **exclusively** on content retrieved through the **Book Retrieval Agent (BRA)** tool.\n- You must **always** use the **Book Retrieval Agent (BRA)** tool to retrieve book information.\n- **No external knowledge** may be used under any circumstances.\n\n### **Homework Reading**\n- Homework files must be read **only** using the **homework files** tool.\n- When calling the **homework files** tool, **pass the file name exactly as it is**, without any translation, modification, or reformatting.\n\n### **Correction File**\n- After fully analyzing the homework, you must use **create homework correction** to produce a polished, professional correction document.\n- The correction file must follow all rules in this prompt.\n\n### **Completion Calculation**\n- You must use the **calculator** tool to compute the student’s completion percentage **with zero approximation or manual math**.\n\n---\n\n## **2. Grading Requirements**\n\n### **Mandatory Page Citation**\n- Every answer, comment, explanation, evaluation, or correction **must cite the exact page number** retrieved from the Book Retrieval Agent (BRA).\n- Any piece of information without a page reference is **strictly forbidden** and must never be produced.\n\n### **Reliance on Book Content**\n- All grading, answers, corrections, and feedback must come **only** from the retrieved book pages.\n- You must **not infer or imagine** any information not explicitly present in the book.\n- if the question does not match the book correct it from understanding the content of the book not the literal text.\n- Focus on assessing understanding, not memorization.\n- If a question is not explicitly present in the book, answer using the understanding derived strictly from the retrieved pages — **never external knowledge**.\n\n### **Book Retrieval Agent (BRA) Usage**\n- When calling BRA, you must **always pass all homework questions together in one single string**.\n- **Do NOT translate, rephrase, shorten, expand, or alter the questions in any form.**\n- Pass them **exactly as they appear**.\n\n---\n\n## **3. Components of the Final Correction File**\n\nThe generated correction file must include:\n\n1. **The question**, copied exactly as it appears in the homework or the book (no edits).\n2. **The exact page number(s)** from the BRA tool used to validate the answer.\n3. **The student answer** retrived from the homework files database.\n4. **A model answer**, based entirely and exclusively on the retrieved book content.\n5. **The student’s performance percentage**, calculated precisely using the calculator tool.\n\n---\n\n## **4. Additional Notes**\n\n- You must prioritize evaluating the student’s **comprehension**, not textual matching.\n- When calling any tool, always pass the input **exactly as provided** — no translation, no rewriting, no interpretation.\n- The final response **must always** output the graded homework in the required format so the workflow can continue without failure to be passed to other agents.\n- You must answer and provide all corrections **in Arabic**.\n- You must follow every rule in this prompt at all times.  \n  **If any rule conflicts with another, always choose the more restrictive interpretation.**\n\n---\n\n## **Failure to follow these rules is not allowed under any circumstances.**\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        144,
        -16
      ],
      "id": "a1bea478-55c0-4210-81b3-7b61c1338909",
      "name": "Homework Grading agent2",
      "retryOnFail": true
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "8a40e103-d3f7-43cc-ad1d-0253593f281d",
              "name": "name",
              "value": "={{ $json['folder name'] }}",
              "type": "string"
            },
            {
              "id": "1fb56bfe-0dc0-4d1d-860c-d20afa409795",
              "name": "id",
              "value": "={{ $json['folder ID'] }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -400,
        -16
      ],
      "id": "81114c03-d05a-40db-a609-eb38158fa4ba",
      "name": "Edit Fields2",
      "executeOnce": true
    },
    {
      "parameters": {
        "model": "qwen/qwen3-32b",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        448,
        416
      ],
      "id": "f42aac94-1e0e-43b2-bb97-f24df3b76389",
      "name": "Groq Chat Model18",
      "credentials": {
        "groqApi": {
          "id": "Hgi5rA0WfgSdQy6Y",
          "name": "Groq account"
        }
      }
    },
    {
      "parameters": {
        "modelName": "Omartificial-Intelligence-Space/Arabic-Triplet-Matryoshka-V2",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsHuggingFaceInference",
      "typeVersion": 1,
      "position": [
        720,
        624
      ],
      "id": "1dbc8b43-e661-4aef-bc1b-1bac5ffa49fb",
      "name": "Embeddings HuggingFace Inference11",
      "credentials": {
        "huggingFaceApi": {
          "id": "7BN0fyv0oDunRzEU",
          "name": "HuggingFaceApi account"
        }
      }
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "call this vectore store to retirive book data",
        "pineconeIndex": {
          "__rl": true,
          "value": "books",
          "mode": "list",
          "cachedResultName": "books"
        },
        "topK": 30,
        "useReranker": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        704,
        416
      ],
      "id": "44720f4e-071f-4511-a70a-a970907e27a1",
      "name": "books",
      "credentials": {
        "pineconeApi": {
          "id": "zsHMTXV1Oo8Y0PVK",
          "name": "PineconeApi account"
        }
      }
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n\"reference_chunks\": [\n{\"q\": \"<question A>\",\"chunks\": []},\n{\"q\": \"<question B>\",\"chunks\": []}\n\n]}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        992,
        416
      ],
      "id": "b214ddf0-8a3c-42d9-8f81-05b42aa963ff",
      "name": "Structured Output Parser6"
    },
    {
      "parameters": {
        "topN": 5
      },
      "type": "@n8n/n8n-nodes-langchain.rerankerCohere",
      "typeVersion": 1,
      "position": [
        848,
        624
      ],
      "id": "e2651f40-5093-489f-83e0-ac346689482e",
      "name": "Reranker Cohere4",
      "credentials": {
        "cohereApi": {
          "id": "lGlTjBD139A2c2yP",
          "name": "CohereApi account"
        }
      }
    },
    {
      "parameters": {
        "toolDescription": "Book Retrieval Agent (BRA)",
        "text": "={{ $fromAI('list_of_questions', 'provide all the questions in one list to retrive it from the data base', 'string') }}",
        "hasOutputParser": true,
        "needsFallback": true,
        "options": {
          "systemMessage": "=# **You are the Book Retrieval Agent (BRA).  \nYour only function is to retrieve exact book content for grading.  \nYou have no other capabilities or permissions.**\n\n## **STRICT RULES – MUST BE OBEYED 100% OF THE TIME – NO EXCEPTIONS**\n\n### **1. Batch Requirement (Mandatory)**\n- You **must** combine **ALL** questions received from the grading assistant into **exactly one single vector store query**.\n- When sending the chucks back to the calling agent you **must** send the page number with it.\n- You **must** send them as a JSON list of strings, exactly like this:\n\n```json\n[\n  \"Exact question 1 text as received\",\n  \"Exact question 2 text as received\",\n  \"Exact question 3 text as received\",\n  \"...\"\n]"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agentTool",
      "typeVersion": 2.2,
      "position": [
        624,
        208
      ],
      "id": "5f46ff68-8c7f-4e05-94af-a7259587adea",
      "name": "Book Retrieval Agent (BRA)3"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -48,
        208
      ],
      "id": "56c776f5-3d97-4a9d-8120-c38df86e058d",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "wAgEJuKBAPESSswI",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        576,
        416
      ],
      "id": "0aacf919-38ca-497b-9ef8-e47242f49a64",
      "name": "Google Gemini Chat Model1",
      "credentials": {
        "googlePalmApi": {
          "id": "wAgEJuKBAPESSswI",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Edit Fields2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        []
      ]
    },
    "Groq Chat Model13": {
      "ai_languageModel": [
        [
          {
            "node": "Homework Grading agent2",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings HuggingFace Inference": {
      "ai_embedding": [
        [
          {
            "node": "homework files3",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "homework files3": {
      "ai_tool": [
        [
          {
            "node": "Homework Grading agent2",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "create homework correction2": {
      "ai_tool": [
        [
          {
            "node": "Homework Grading agent2",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "calculator2": {
      "ai_tool": [
        [
          {
            "node": "Homework Grading agent2",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields2": {
      "main": [
        [
          {
            "node": "Homework Grading agent2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Groq Chat Model18": {
      "ai_languageModel": [
        [
          {
            "node": "Book Retrieval Agent (BRA)3",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings HuggingFace Inference11": {
      "ai_embedding": [
        [
          {
            "node": "books",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "books": {
      "ai_tool": [
        [
          {
            "node": "Book Retrieval Agent (BRA)3",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser6": {
      "ai_outputParser": [
        [
          {
            "node": "Book Retrieval Agent (BRA)3",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Reranker Cohere4": {
      "ai_reranker": [
        [
          {
            "node": "books",
            "type": "ai_reranker",
            "index": 0
          }
        ]
      ]
    },
    "Book Retrieval Agent (BRA)3": {
      "ai_tool": [
        [
          {
            "node": "Homework Grading agent2",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Homework Grading agent2",
            "type": "ai_languageModel",
            "index": 1
          }
        ]
      ]
    },
    "Google Gemini Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Book Retrieval Agent (BRA)3",
            "type": "ai_languageModel",
            "index": 1
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "c1da7e1c-6cd7-4023-9b56-94fbd2dea6f8",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "1cf2b5bf4318a23a63d29974a6dba88a1ee4ca1760f440473397926025aaad84"
  },
  "id": "xAXtonc9cuWoWkUA",
  "tags": []
}